@font-face {
    font-family: barqish;
    src: url(./fonts/Barqish.ttf);
}
@font-face
{
    font-family:homoarak;
    src:url(./fonts/homoarakhn/HOMOARAK.TTF);
}
@font-face
{
    font-family:blkcry;
    src:url(./fonts/BLKCHCRY.TTF);
}
@font-face {
    font-family: damion;
    src: url(./fonts/damion/Damion-Regular.ttf);
}
@font-face
{
    font-family:maconda;
    src:url(./fonts/macondo-swash-caps/MacondoSwashCaps-Regular.ttf)
}
*
{
    margin: 0px;
    padding:0px;
    background-color:#edf6f9;
}
.contacts_banner
{
    height:70vh;
    
    width:80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
} 
.contacts_banner_img
{
    height: 100%;
    width: 100%;
    border-radius:5px;
}
.contacts_banner_head
{
    position:absolute;
    top:50%;
    left:40%;
    font-size:2.7rem;
    font-family: blkcry;
    color:white;
    background-color: rgba(0, 0, 0, .0);
}
.contacts_head1
{
    font-family:damion;
    font-size:2.3rem;
    text-align: center;
    margin:10px auto;
}
.contacts_head2
{
    font-family:damion;
    font-size:2rem;
    text-align: center;
    margin:10px auto;
}
.contacts_common_address
{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:5%;
    margin:10px 20%; 
}
.contacts_para1
{
    font-family:damion;
    font-size:1.7rem;
    word-spacing: 2px;
    
}
.contacts_para2
{
    font-family:damion;
    font-size:1.7rem;
    word-spacing: 2px;
    
    
}
.contacts_icon
{
    height:35px;
    width:auto;
    position: relative;
    top:10px;
    
}
.contacts_icon1
{
    height:55px;
    width:auto;
    float: left;
    position: relative;
    top:10px;
    left:-10px;
}



@media all and (max-width:480px)
{
.contacts_common_address
{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
    
}
}

@media all and (min-width:750px) and (max-width:1000px)
{
.contacts_common_address
{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap:5px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
.contacts_para2,.contacts_para1
{
    font-family:damion;
    font-size:2rem;
    word-spacing: 2px;
    
    
}
}