@font-face {
    font-family: barqish;
    src: url(./fonts/Barqish.ttf);
}
@font-face
{
    font-family:homoarak;
    src:url(./fonts/homoarakhn/HOMOARAK.TTF);
}
@font-face
{
    font-family:blkcry;
    src:url(./fonts/BLKCHCRY.TTF);
}
@font-face {
    font-family: damion;
    src: url(./fonts/damion/Damion-Regular.ttf);
}
@font-face
{
    font-family:maconda;
    src:url(./fonts/macondo-swash-caps/MacondoSwashCaps-Regular.ttf)
}
*
{
    margin:0px;
    padding:0px;
    background-color:#edf6f9;
}

.head
{
    display:flex;
    justify-content:space-around;
    position:relative;
}
.logo
{
    height:94px;
   cursor:pointer;
}

.first_section
{
    position: relative;
}

.banner
{
    display:grid;
    grid-template-columns:2fr 1fr;
     /* background-color: aqua; */
    /* display:flex; */
    justify-content:space-between;
    position:relative;
    /* border:2px solid red; */
    /* padding-bottom:-400px; */
    margin-left:4%;
}

.statue
{
    justify-content: flex-end;
    align-items: flex-end;
    border:6px dashed rgb(44, 207, 253);
    box-shadow:5px 5px 7px grey,-5px -5px 7px grey;
    border-radius:50%;
    overflow: hidden;
    cursor:pointer;
    height:auto;
     width:24vw;
    /*transform:rotate(0deg);
    transition:2s; */
    animation-name:myanimate;
    animation-duration:7s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    transform:scale(0.9);
}
@keyframes myanimate
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
/* .statue:hover
{
    transform:scale(1);
}  */
.travel
{
    background-image:url(./images/travel.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: top right;
    width:55vw;
    /* margin:0px 5%; */
    height:55vh;
    position:relative;
    /* top:27%; */
    border-radius:30px;

}
.post
{
    position: relative;
}
.overlay
{

    border-radius:30px;
    width:55vw;
    /* margin:0px 5%; */
    height:55vh;
    background:black;
    opacity:.6;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0px;
    color:#fff;
    cursor:pointer;

}
.overlay p
{
    font-size:2em;
    word-spacing: 10px;
    /* position:absolute;
    top:30%; */
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight:bolder;
    font-family:blkcry;
    /* z-index:-1; */
    background-color: black;
    margin:10px 10px;
}
.overlay > *
{
    transform:translatey(0);
    transition:.5s;
}
.overlay:hover > *
{
    
    transform:translatey(30px);
    
}
/* .package_list
{
    display:flex;
    justify-content: center;
    
} */
.package_list
{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    margin:0px 200px;
}
.package_head
{
    font-size: 2rem;
    font-family:damion;
    margin:4px;
    text-align:center;
    /* background-color: aqua; */
}
.box
{
    height: 200px;
    width:150px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    transform:scale(.9);
    transition:.3s;
    border-radius: 50%;
}
.package_button1
{
    border: 2px solid red;
    padding:10px 20px;
    font-size:1.5rem;
    font-weight: bold;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    border:none;
    background-color:#006d77;
    font-family: blkcry;
    color:white;
    position:absolute;
    border-radius: 20%;
    top:30%;
    transform:scale(.9);
    transition: .3s;
    cursor: pointer;
}
.package_button1:hover
{
    transform:scale(1);
}
.package_button
{
    position: relative;
}
.package_content
{
    font-family:blkcry;
    font-size:1.2rem;
    font-weight:bold;
    position:relative;
    left:28px;
}
.box:hover
{
    transform: scale(1);
}
.holiday_total
{
    
    margin:auto;
    padding: 10px;
    
    
}

.eurpoe
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    /* width:100vh;
    column-gap: 50px;
    position:relative;
    left:10%; */
    margin:auto;
    width:75%;
    column-gap:0px;
    /* background-color: aqua; */
    /* border:5px solid red;
    justify-content: center;
    align-items: center;
    display:flex; */
}
.holiday_img_common
{
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    /* height:50.5vh;
    width:20.9vw; */
    margin:20px;
    height:auto;
    width:15vw;
    
}
.holiday_img
{
    /* height:36vh;
    width:20vw; */
    height:25vh;
    /* width:183px; */
    width:100%;
    box-sizing: border-box;
    border:5px solid #ffd60a;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}

.customer_head,.holiday_head1,.gallery_head,.icon_head
{
    font-family:blkcry;
    font-size:2.3rem;
    text-align: center;
    /*margin:12% opx;
    padding:15px opx; 
     overflow:auto; 
    display: inline-block;
    width:180vh;
    background-color: aqua;*/
    
} 

.holiday_para
{
    font-family:damion;
    font-size:1.8rem;
    text-indent:50px;
    word-spacing: 15px;
    text-align: justify;
    width:75%;
    margin:auto;
    
}
.holiday_button
{
    display:inline;
    padding:4px 12px;
    color:white;
    background-color: #006d77;
    border:none;
    font-family: damion;
    border-radius: 20%;
    font-size:1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.holiday_head2
{
    font-family:blkcry;
    font-size:1.8rem;
    font-weight:bolder;
    display:flex;
    justify-content: center;
    align-items: center;
    display: flexbox;
   
}
.holiday_price
{
    font-family:blkcry;
    font-size:1.4rem;
    font-weight:bolder;
    display:flex;
    justify-content: flex-end;
    align-items: center;
 
}
.customer_display
{
    display:flex;
    justify-content: center;
    align-items: center;
    height:auto;
    width:auto;
    flex-wrap: wrap;
    margin:20px;
    
}
.customer
{
    height:auto;
    width:25vw;
    margin:34px 15px;
    padding:10px;
    position:relative;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    top:60px;
    
}
.customer_photo
{
    height:18vh;
    /* width:20vw; */
    position:absolute;
    top:-60px;
    border:4px solid white;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
}
.customer_common
{
    position:relative;
    top:50px;
}
.customer_para
{
    font-size:1.2rem;
    font-family:maconda;
    word-spacing: 3px;
    font-weight:bold;
    text-indent:10px;
    text-align: justify;
    margin:20px 0px 50px 0px;
}
.customer_name
{
    font-size:1.5rem;
    font-family: blkcry;
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.customer_icon
{
    height:5vh;
    width:10vw;
}
.customer_image
{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.gallery_common
{
    display:grid;
    /* grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); */
    grid-template-columns:repeat(4,1fr);
    grid-auto-flow: dense;
    grid-auto-rows:200px;
    /* height:fit-content; */
    width:68%;
    margin:auto;
    border:10px solid white;
    gap:5px;
    
}
.gallery_head
{
    margin:40px 0px 10px 0px;
}
.gallery_div
{
    height:200px;
    width:auto;
    
}
.gallery_photo
{
    /* height:130%;
    width:100%; */
    width:100%;
    /* border: 2px solid white; */
    height:100%;
    object-fit:cover;
    display:block
}
.photo1
{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height:100%;
}
.photo10
{
    grid-column:span 2;
    width:100%;
    height:86.3%; 
}
.photo2
{
    /* grid-row:1/3; */
    grid-row:span 2;
    width:100%;
    height:100%;
}
.photo6
{
    grid-row:span 2;
    width: 100%;
    height:100%;
}
.photo7
{
    grid-column:span 2;
    width:100%;
    height:100%;
}
.icon_aside
{
    background-image: url(./images/images3/nature.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height:60vh;
    position:relative;
}
.icon
{
    width:50px;
    height:auto;
}
.icon_overlay
{
    height:60vh;
    width:100%;
    background-color: white;
    opacity:.5;
    position:absolute;
    top:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr; */
}
.icon1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon2
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.icon_div
{
    margin:20px;
}
.icon_para
{
    font-size:1rem;
    font-family: maconda;
    font-weight: bolder;
    position:relative;
    left:-40px;
}

footer 
{
    background-color: #006d77;
    /* color: white; */
    
    position: relative;
    
}
.footer_logo
{
    background-color:#006d77;
    position:absolute;
    top:0px;
    left:0px;
}
.footer_common
{
    display:grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    background-color: #006d77;
    width:auto;
    height:100%;
    padding:8% 0px 3% 10%;
    
    margin:auto;
}
.footer_div
{
    background-color: #006d77;
}
.footer_ul
{
    background-color: #006d77;
}
.footer_head
{
    background-color: #006d77;
    color: #ffd60a;
    padding:10px;
}
.footer_ul li
{
    background-color: white;
    display:inline-block;
    list-style: none;
   
}
.footer_i1
{
    position:relative;
    top:14px;
    padding:5px;

}
.footer_i2
{
    background-color: #006d77;
    border-radius: 14px;
    padding:5px;
    transform: scale(0.9);
    transition: .3s;
    height:30px;
    cursor: pointer;
}
.footer_i2:hover
{
    transform:scale(1);
}
.footer_ol
{
    display:block;
    background-color: #006d77;
    list-style-type:none;
} 
.footer_ol li
{
    background-color: #006d77;
}
.footer_ol li a,.footer_address
{
    background-color: #006d77;
    text-decoration: none;
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    margin:10px;
}
.footer_ol li a:hover
{
    color:rgb(21, 236, 53);
    padding-left:3px;
}
.footer_li1
{
    background-color: #006d77;
    
}
.footer_address>*
{
    background-color: #006d77;
}
.footer_tag,.footer_icon,.footer_tag_a
{
    background-color: #006d77;
}
.footer_icon span
{
    background-color: #006d77;
}

.footer_foot
{
    display:flex;
    justify-content: space-evenly;
   
}
.footer_last1 a
{
     text-decoration: none;
     font-weight: bold;
}



























@media all and (max-width:480px)
{
.banner
{
    display:grid;
    grid-template-columns: 1fr;
}
.travel
{
    width:95%;
    height:100%;
    margin:auto;
}
.overlay
{
    height:100%;
    width:95%;
    margin:auto;
}
.statue
{
    margin:90px;
}
.overlay p
{
    margin:50px 10px;
    line-height: 30px;
}
.overlay p:hover
{
    
}
.statue
{
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width:50%;
    display: inline-block;
    margin:0px 25%;
   
}
.package_list
{
    grid-template-columns: 1fr;
    /* display:inline-block; */
    display:block;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.package_button1
{
    position:relative;
}
.eurpoe
{
    display: grid;
    grid-template-columns: 1fr;
    display:block;
   
}
.holiday_para
{
    width:100%;
}
.holiday_img_common
{
    width:100%;
    margin:40px auto;
    
}
.customer_display
{
    flex-direction: row;
}
.customer
{
    flex-direction: row;
    width:80%;
    margin:50px 30px;
}
.customer_icon
{
    width:fit-content;
}
.gallery_common
{
    /* display:grid;
    grid-template-columns: 1fr;
    height:auto;
    width:auto; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon_aside
{
    flex-direction: column;
    position: relative;
}
.icon_overlay
{
    
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:100%;
}
.icon1
{
    
    display:flex;
    justify-content: center;
    align-items: center;
   margin:3%;
}
.icon2
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:3%;
}
.icon_para
{
    position:relative;
    left:0%;
    
}
.footer_common
{
    display:grid;
    grid-template-columns: 1fr;
    padding-top: 25%;
}

}















@media all and (min-width:750px) and (max-width:1000px)
{
.banner
{
    display:grid;
    grid-template-columns: 1fr;
}
.travel
{
    width:97%;
    height:100%;
    margin:auto;
}
.overlay
{
    height:100%;
    width:97%;
}
.statue
{
    margin:90px;
}
.overlay p
{
    margin:50px 10px;
    line-height: 30px;
}
.overlay p:hover
{
    
}
.statue
{
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width:50%;
    display: inline-block;
    margin:0px 25%;
   
}
.package_list
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
.package_common
{
    margin-left:7%;
}
.package_button1
{
    position:relative;
}
.eurpoe
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.holiday_para
{
    width:100%;
}
.holiday_img_common
{
    width:80%;
    /* margin:20px; */
    height:auto;
}
.holiday_para
{
    font-size:2rem;
}
.customer_display
{
    flex-direction: row;
}
.customer
{
    flex-direction: row;
    width:95%;
    height: auto;
    /* margin:50px 30px; */
    margin-bottom: 80px;
    padding-bottom:50px;
}
.customer_common
{
    /* height:100%; */
    top:100px;
}
.customer_icon
{
    width:fit-content;
}
.customer_para
{
    font-size:2rem;
}
.gallery_common
{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.icon_head
{
    font-size: 2.5rem;
}
.icon1
{
    margin-left:110px;
    
}
.icon2
{
    margin-left:110px; 
}
.icon_para
{
    font-size:2rem;
}
.footer
{
    
}
.footer_common
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 110px;

}
.footer_head
{
    font-size:2.3rem;
}
.footer_ol li a,.footer_address,.footer_bottom1
{
    font-size:1.7rem;
}
}
 























