@font-face {
    font-family: barqish;
    src: url(./fonts/Barqish.ttf);
}
@font-face
{
    font-family:homoarak;
    src:url(./fonts/homoarakhn/HOMOARAK.TTF);
}
@font-face
{
    font-family:blkcry;
    src:url(./fonts/BLKCHCRY.TTF);
}
@font-face {
    font-family: damion;
    src: url(./fonts/damion/Damion-Regular.ttf);
}
*
{
    margin:0px;
    padding:0px;
    background-color:rgb(245, 239, 231);
}

.head
{
    display:flex;
    justify-content:space-around;
    position:relative;
}
.logo
{
    height:94px;
   cursor:pointer;
}

section
{
    position: relative;
}

.banner
{
    display:grid;
    grid-template-columns:2fr 1fr;
     /* background-color: aqua; */
    /* display:flex; */
    justify-content:space-between;
    position:relative;
    /* border:2px solid red; */
    /* padding-bottom:-400px; */
    margin-left:5%;
}
.banner > .post
{

}
.statue
{
    justify-content: flex-end;
    align-items: flex-end;
    /* margin:5%; 
    position:absolute;*/
    /* top:-10%;
    left:0%; */
    border:2px dashed black;
    /* display:inline-block; */
    /* background-color:rgb(230, 254, 254); */
    border-radius:50%;
    overflow: hidden;
    cursor:pointer;
    height:auto;
    width:25vw;
    transform:scale(.95);
    transition: .3s;
    /* background-color: aqua; */
}
.statue:hover
{
    transform:scale(1);
}
.travel
{
    background-image:url(./images/travel.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: top right;
    width:55vw;
    /* margin:0px 5%; */
    height:55vh;
    position:relative;
    /* top:27%; */
    border-radius:30px;

}
.overlay
{

    border-radius:30px;
    width:55vw;
    /* margin:0px 5%; */
    height:55vh;
    background:black;
    opacity:.6;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0px;
    color:#fff;
    cursor:pointer;

}

.overlay h1
{
    font-size:3rem;
    font-weight: bolder;
    position:absolute;
    margin:10px;
    top:10%;
    /* font-family: homoarak; */
}
.overlay p
{
    font-size:2rem;
    word-spacing: 10px;
    position:absolute;
    top:30%;
    font-weight:bolder;
    margin:10px 55px;
    font-family:blkcry;
    z-index:-1;
    background-color: black;

}
.overlay > *
{
    transform:translatex(0);
    transition:.5s;
}
.overlay:hover > *
{
    
    transform:translatex(30px);
    
}
/* .package_list
{
    display:flex;
    justify-content: center;
    
} */
.package_list
{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    margin:0px 200px;
}
.package_head
{
    font-size: 2rem;
    font-family:damion;
    margin:4px;
    text-align:center;
}
.box
{
    height: 200px;
    width:150px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    transform:scale(.9);
    transition:.3s;
    border-radius: 50%;
}
.package_button1
{
    border: 2px solid red;
    padding:10px 20px;
    font-size:1.5rem;
    font-weight: bold;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    border:none;
    background-color:rgb(255, 153, 0);
    font-family: blkcry;
    color:white;
    position:absolute;
    border-radius: 20%;
    top:30%;
    transform:scale(.9);
    transition: .3s;
    cursor: pointer;
}
.package_button1:hover
{
    transform:scale(1);
}
.package_button
{
    position: relative;
}
.package_content
{
    font-family:blkcry;
    font-size:1.2rem;
    font-weight:bold;
    position:relative;
    left:28px;
}
.box:hover
{
    transform: scale(1);
}
@media all and (max-width:480px)
{
.banner
{
    display:grid;
    grid-template-columns: 1fr;
    

}
.overlay,.travel
{
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width:90%;
    /* display: inline-block; */
}
.statue
{
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width:50%;
    display: inline-block;
    margin:0px 25%;
}
}
@media all and (max-width:480px)
{
.package_list
{
    grid-template-columns: auto;
    display:inline-block;
}
}
@media all and (max-width:900px)
{
.banner
{
    display:grid;
    grid-template-columns: 1fr;
    

}
.overlay,.travel
{
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width:90%;
    /* display: inline-block; */
}
.statue
{
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width:50%;
    display: inline-block;
    margin:0px 25%;
}
}
@media all and (max-width:900px)
{
.package_list
{
    grid-template-columns: 1fr 1fr 1fr;
    
}
}





















