ul
{
    list-style-type:none;
    margin:0px;
    padding:0px;
    display:flex;
    overflow:hidden;
}
@font-face {
    font-family: damion;
    src: url(./fonts/damion/Damion-Regular.ttf);
}
@font-face {
    font-family: arabella;
    src: url(./fonts/arabella/Arabella.ttf);
}
ul>li>.nav
{
    text-decoration: none;
    color:black;
    margin:40px 10px;
    /* margin-top:20px; */
    display:inline-block;
    position:relative;
    font-size:1.5rem;
    font-weight:bold;
    font-family:damion
    ;
}
.nav::after
{
    content:'';
    height:3px;
    width:100%;
    background-color:rgb(0, 255, 128);
    position:absolute;
    left:0px;
    bottom:0px;
    transition:.3s;
    transform:scale(0);
}
.nav:hover::after
{
    transform:scale(1);
   
}
.nav:hover 
{
    color:crimson;
   
}
@media all and (max-width:480px)
{
.head
{
    display:flex;
    flex-direction:column;
}
.logo
{
    flex-direction: column;
    justify-content: center;
    display:block;
    width:75%;
    height:fit-content;
    
}
ul
{
    flex-direction: column;
    /* justify-content:center;
    align-items:center; */
    display:block;
    width:fit-content;
    font-size:50px;
    position: relative;
    left:40%;

}
ul li a
{

}
}














