@font-face {
    font-family: barqish;
    src: url(./fonts/Barqish.ttf);
}
@font-face
{
    font-family:homoarak;
    src:url(./fonts/homoarakhn/HOMOARAK.TTF);
}
@font-face
{
    font-family:blkcry;
    src:url(./fonts/BLKCHCRY.TTF);
}
@font-face {
    font-family: damion;
    src: url(./fonts/damion/Damion-Regular.ttf);
}
@font-face
{
    font-family:maconda;
    src:url(./fonts/macondo-swash-caps/MacondoSwashCaps-Regular.ttf)
}
@font-face
{
    font-family:dancing_script;
    src:url(./fonts/DancingScript-Regular.ttf)
}
@font-face
{
    font-family:belico;
    src:url(./fonts/Bellico/Bellico\ Demo\ Version.ttf)
}
*
{
    margin: 0px;
    padding:0px;
    background-color:#edf6f9;
}
.privacy_banner
{
    height:70vh;
    
    position: relative;
    width:80%;
    margin-left: auto;
    margin-right: auto;
} 

.privacy_banner_img
{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.privacy_banner_head
{
    position:absolute;
    top:53%;
    left:40%;
    font-size:2.7rem;
    font-family: blkcry;
    color:white;
    background-color: rgba(0, 0, 0, .0);
}
.privacy_para
{
    font-family:maconda;
    font-size:1.3rem;
    word-spacing: 8px;
    margin:20px 13%;
    text-indent: 30px;
    text-align: justify;
}
.privacy_head1
{
    font-family:damion;
    font-size:1.8rem;
    text-align: center;
    margin:10px 10%;
    word-spacing: 8px;

}
.privacy_head2
{
    font-family:maconda;
    font-size:1.5rem;
    font-weight: bold;
    
    margin:10px 15%;
    word-spacing: 8px;
}
.privacy_list
{
    font-family:maconda;
    font-size:1.3rem;
    word-spacing: 8px;
    margin:20px 17%;
    text-align: justify;
    list-style: disc;
}




@media all and (max-width:480px)
{
.privacy_banner_head 
{
    position: absolute;
    left:25%;
}
.privacy_head1
{
    font-size:2.6rem;
}
}
@media all and (min-width:750px) and (max-width:1000px)
{
.privacy_banner_head 
{
    position: absolute;
    top:30%;
    left:28%;
}  
.privacy_head1
{
    font-size:3rem;
} 
.privacy_para
{
    font-size:2rem;
}
.privacy_list
{
    font-size:2rem;
}
}




























